// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.images__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image__container {
  max-width: 400px;
}

.image-detail__container {
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-image-container {
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
