<h1>All Images</h1>
<%= link_to 'Add new image', new_image_path %><br>
<div class="images-wrapper">
  <% @images.each do |image| %>
    <div class="image-info-wrapper">
      <%= image_tag image.url, class: "image-container" %>
      <%= image.tag_list %>
    </div>
  <% end %>
</div>
